#cabecera {color: rgb(136, 70, 39); text-align: center; font-family: Arial, Helvetica, sans-serif;}
#cabecera2 {color: rgb(136, 70, 39); font-family: Arial, Helvetica, sans-serif;}

body{background: wheat;}
p {color: rgb(136, 70, 39)}
.nar {color: rgb(136, 70, 39)}
.negrita {font-weight: bold;}
.margen {width: 1000px; margin: auto;} /* tamaño div */
.center {text-align: center;}
.just {text-align: justify;}
.der {text-align: right;}
table {width: 100%;}
.a1 {width: 150px; background-color: tan;}
.a2 {font-weight: bold; color: rgb(136, 70, 39)}
.a3 {width: 500px;text-align: center;background-color: tan; font-weight: bold; color: rgb(136, 70, 39) ;}

